# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
.env

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code launch/config (uncomment if needed)
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# --- Platform-specific ephemeral files ---
/windows/flutter/ephemeral/
/linux/flutter/ephemeral/
/macos/Flutter/ephemeral/

/windows/flutter/ephemeral/.plugin_symlinks/
/linux/flutter/ephemeral/.plugin_symlinks/
/macos/Flutter/ephemeral/.plugin_symlinks/

# iOS derived data
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
